{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "importOrder": [
    "^react(.*)?$",
    "^@redux(.*)?$",
    "^next(.*)?$",
    "<THIRD_PARTY_MODULES>",
    "@/components/(.*)$",
    "@/store(.*)$",
    "@/(.*)$",
    "^(.*)css$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
